@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant&display=swap');
$body-font-family: 'Montserrat', sans-serif;
$title-font: 'Cormorant Infant', serif;
$heading-font-family: 'Cormorant Infant', serif;
@import "~vuetify/src/styles/styles.sass";